<template>
    <section id="hero-3" class="bg--fixed hero-section">
        <div class="container">
            <div class="row d-flex align-items-center">
                <!-- HERO TEXT -->
                <div class="col-md-6">
                    <div class="hero-3-txt color--white wow fadeInRight">
                        <!-- Title -->
                        <h2 class="s-45 w-700">Swift Reservations, Lower Costs: ShipGate Leads the Way!</h2>
                        <!-- Text -->
                        <p class="p-lg">ShipGate revolutionizes logistics with lightning-fast booking, securing unbeatable rates. Simplify your shipping process and save time and money, all in one powerful platform</p>
                        <!-- HERO DIGITS -->
                        <div class="hero-digits">
                            <!-- DIGIT BLOCK #1 -->
                            <div id="hd-1-1" class="wow fadeInUp">
                                <div class="hero-digits-block">
                                    <!-- Digit -->
                                    <div class="block-digit">
                                        <h2 class="s-46 statistic-number">3<span>x</span></h2>
                                    </div>
                                    <!-- Text -->
                                    <div class="block-txt">
                                        <p class="p-sm">Tempor sapien and quaerat placerat</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END DIGIT BLOCK #1 -->
                            <!-- DIGIT BLOCK #2 -->
                            <div id="hd-1-2" class="wow fadeInUp">
                                <div class="hero-digits-block">
                                    <!-- Digit -->
                                    <div class="block-digit">
                                        <h2 class="s-46 statistic-number">29<span>%</span></h2>
                                    </div>
                                    <!-- Text -->
                                    <div class="block-txt">
                                        <p class="p-sm">Ligula suscipit vitae and rutrum turpis</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END DIGIT BLOCK #2 -->
                        </div>
                        <!-- END HERO DIGITS -->
                    </div>
                </div>
                <!-- END HERO TEXT -->
                <!-- HERO IMAGE -->
                <div class="col-md-6">
                    <div class="hero-3-img wow fadeInLeft">
                        <img class="img-fluid" src="/assets/images/tablet-01.png" alt="hero-image" />
                    </div>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </section>
</template>
